<div id="chosseclient" class="window" style="background:#777; text-align: center;-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;">
  <div style="font-family:Arial, Helvetica, sans-serif;background: #383838; height:100px;" id="toparea1">
    <em style="float:left;margin-top: 15px;"><img src="http://23.227.177.94/images/home.png" /></em>
  </div>
  <table width="80%">
    <tr>
      <td><img src="http://23.227.177.94/images/thumbnail.png" /></td>
      <td><p style="color:#FFF">Usted es seleccionado esta propuesta <img src='http://23.227.177.94/system/images/<%=  @bid.id %>/original/<%= @bid.images.first.image_file_name %>' width="10%" height="10%"/> como un <%= @bid.status %> de tu <%= @bid.project.categories %> <img src='http://23.227.177.94/system/images/<%=  @bid.project_id %>/original/<%= @bid.project.images.first.image_file_name %>' width="10%" height="10%"/> proyecto. </p></td>
    </tr>
  </table>
</div>
