<div id="project_comment">
  <% for comment in @comments %>
    <% if comment.user.present? %>
      <%= image_tag(comment.user.avatar.url(:original), :width => '20px;', :height => '20px;')%>&nbsp;<em style="color: green;font-size: 15px;text-decoration: underline;"><%= comment.user.email%> </em><br />
    <% else %>
      <%= image_tag("/images/ima.png", :width => '20px;', :height => '20px;')%>
    <% end %>
    <%= comment.comment %><br />
    <span style="color: #CF7D0E;float: right;"><%= time_ago_in_words(comment.created_at) %></span><br /><br />
    <br /><hr />
  <% end %>
  <%= will_paginate @comments, :param_name => 'comment_page', :page_links => false, :previous_label => 'Primero', :next_label => 'Ultimo' %>
</div>