<div id="projects">
  <div class="ultimosproyectos"></div>
  <div class="contents">
    <table border="0" width="100%">
      <tbody>
        <tr>
          <td style="position:relative; width: 240px;">
            <br /> He participado en:
            <br />
            Fotografia:<%= Project.where("categories = 'Photography'").count%>
            <br />
            Ilustracion: <%= Project.where("categories = 'Illustration'").count%>
            <br />
            Animacion: <%= Project.where("categories = 'Animation'").count%>
          </td>
          <td>
            <% if @projects.present? %>
              <% for project in @projects %>
                <% if project.images.present? %>
                  <div class="slide_contpreview">
                    <div class="slide_contpreview_ima">
                      <%= link_to image_tag(project.images.first.image.url(:original), :style => 'width: 200px; height :150px;'), project_path(project) %>
                    </div>
                    <div class="slide_contpreview_text">
                      <table>
                        <tr>
                          <td colspan="2">CL:&nbsp;<%= project.user.name%></td>
                          <td><%= project.categories %></td>
                        </tr>
                        <tr>
                          <td colspan="2">No Propouse:&nbsp;<%= project.bids.count %></td>
                        </tr>
                        <tr>
                          <td colspan="2">Vence:<%= project.end_date.strftime('%d-%m-%Y')%></td>
                          <% if project.payment == 0 %>
                            <td style="color: green;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SOCIAL</td>
                          <% else %>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$<%= project.payment %>.00</td>
                          <% end %>
                        </tr>
                      </table>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <%= image_tag("/images/slideportafolio.png") %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fincontenidos"></div>
  <hr />
  <% if @projects.present? %>
    <%= will_paginate @projects, :param_name => 'project_page',:page_links => false, :previous_label => 'Primero', :next_label => "Ultimo" %>
  <% end %>
</div>