<div class="iniciocontenidos"></div>
<div class="contents">
  <h4></h4><br />
  <% if @bid.images.present? %>
    <div class="slide_contpreview" style="float: left;margin-top: -4px;position: relative;">
      <%= image_tag(@bid.images.first.image.url(:original), :width => "200", :height => "235") %>
    </div>
    <table cellpadding="5px" cellspacing="0px" border="0" width="70%" style="color: #414141;float: left;font-size: 14px;left: 20px;position: relative;">
      <tr>
        <td width="20%"><b>Project title:</b></td>
        <td><%= @project.categories%></td>
      </tr>
      <tr>
        <td width="25%"><b>Project Description:</b></td>
        <td><%= @project.description %></td>
      </tr>
      <tr>
        <td width="20%"><b>Project Image:</b></td>
        <td><%= image_tag(@bid.project.images.first.image.url(:original), :width => '40px',:height => '40px')%></td>
      </tr>
      <tr>
        <td width="25%"><b>Rating:</b></td>
        <td>
          <%= !current_user.bid(@bid) ? (render :partial => '/bids/rating', :locals => {:bid => @bid}) : (@bid.average_rating) %>
        </td>
      </tr>
    </table>
    <div class="coments_piece_space" style="float: right;left: -24px;position: relative;">
      <% if current_user.role == 'creative' or current_user.role == 'client' %>
        <hr />
        <div class="coment" id="project_comments">
          <%= render :partial => 'comments/form' %>
        </div>
      <% end %>
    </div>
    <div class="coments_piece_space" style="width: 970px;">
      <hr />
      <p>
        <b><div id="project_comments_count"><%= @bid.comments.count %>&nbsp;Comentarios</div></b>
      </p>
      <hr />
      <div class="coment" id="project_comments" style="width: 950px;">
        <%= render :partial => 'comments/show' %>
      </div>
    </div>
  <% end %>
</div>
<div class="fincontenidos"></div>
<hr />
