<div class="barspace">
  <%= image_tag("/images/registertutor.png", :border=>'0', :width=>"985", :height=>"80") %>
</div>
<div class="contentss">
  <div class="contleft">
    <%= form_for(@user, :url => "/users/create_tutor", :html => { :multipart => true , :autocomplete => 'off'},:id=>"regForm") do |f| %>
      <%= render :partial => 'form',:locals => {:f => f} %>
    <% end %>
  </div>
  <div class="contright">
    <div class="otherregister">
      <%= image_tag("/images/otrosregistros.png", :border=>'0', :width=>"263", :height=>"27") %>
      <hr/><br/>
      <%= link_to image_tag("/images/otroregistroclien.png", :border=>'0', :width=>"233", :height=>"59"), client_users_path %><br/><br/>
      <%= link_to image_tag("/images/otroregistrocreativo.png", :border=>'0', :width=>"233", :height=>"59"), creative_users_path %><br/><br/>
      <%= link_to image_tag("/images/otroregistrovisitante.png", :border=>'0', :width=>"233", :height=>"59"), visitor_users_path %><br/><br/>
      <hr/>
      <%= link_to image_tag("/images/otroregistrocomofunciona.png", :border=>'0', :width=>"297", :height=>"38"), how_it_works_home_index_path %>
    </div>
  </div>
</div>
<div class="fincontenidos"></div>