<div class="iniciocontenidos"></div>
<div class="contents" style="padding: 0 10px;">
  <table>
    <tbody>
      <tr>
        <td>
          <%= image_tag(@user.avatar.url(:original) , :style=>"width:120px;height: 120px; margin:1px;border-radius: 5px;") %>
        </td>
        <td style="margin-left: 20px; width:300px;">
          <h4 style="margin:0px; padding:0px;"><%= @user.user_name %>  / <%= @user.surname %></h4>
          Diseñadora Grafica/Publicista
          <br />
          <%= @user.city.city%> , <%= @user.country.country %>
          <br />
          <%= link_to image_tag("/images/recomendar.png"), recommender_constant_path(@user),:remote => true, :method => :post%>
        </td>
        <td>
          <table style="margin-left: 200px;">
            <tbody>
              <tr>
                <td>
                  <%= image_tag('/images/views.png') %>
                  <%= @user.user_views.count %>
                </td>
                <td>
                  <%=link_to image_tag('/images/like.png'), like_constant_path(@user), :remote => true, :method => 'post' %>
                  <%= @user.sent_likes.count %>
                </td>
              </tr>
              <tr>
                <td>
                  <%=link_to_function image_tag('/images/coment.png'), "comment_path('#{@user.id}')" %>
                  <%= @user.received_comments.count %>
                </td>
                <td>
                  <%= image_tag('/images/cop.png') %>
                  3
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <%= image_tag('/images/star.png') %>
                  53,45 en 260
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="fincontenidos"></div>
<div class="barraproyectosposteados"></div>
<div class="contents">
  <table border="0">
    <tbody>
      <tr>
        <td style="position:relative;float: left;width: 240px;">
          <br/>
          Mis campos de accion
          <br/>
          Fotografia:<%= Project.where("categories = 'Photography'").count%>
          <br />
          Ilustracion: <%= Project.where("categories = 'Illustration'").count%>
          <br />
          Animacion: <%= Project.where("categories = 'Animation'").count%>
          <br/>
          <br/>
          <hr/>
          <br/>
          Actividad Reciente
          <br/>
          Imagenes Portafolio: 47
          <br/>
          Me gusta: 41
          <br/>
          Animacion: <%= Project.where("categories = 'Animation'").count%>
          <br/>
        </td>
        <td>
          <% if @projects.present? %>
            <% for project in @projects %>
              <% if project.images.present? %>
                <div class="slide_contpreview">
                  <div class="slide_contpreview_ima">
                    <%= image_tag(project.images.first.image.url(:original), :style => 'width: 200px; height :150px;') %>
                  </div>
                  <div class="slide_contpreview_text">
                    <table>
                      <tr>
                        <td colspan="2">CL:&nbsp;<%= project.user.name%></td>
                        <td><%= project.categories %></td>
                      </tr>
                      <tr>
                        <td colspan="2">No Propouse:&nbsp;<%= project.bids.count %></td>
                      </tr>
                      <tr>
                        <td colspan="2">Date-Limit:&nbsp;<%= project.end_date.strftime('%d-%m-%Y')%></td>
                        <% if project.payment == 0 %>
                          <td style="color: green;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SOCIAL</td>
                        <% else %>
                          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$<%= project.payment %>.00</td>
                        <% end %>
                      </tr>
                    </table>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <%= image_tag("/images/slideportafolio.png") %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="fincontenidos"></div>
<hr/>