<div id="creative_pages">
  <div class="slide_content">
    <% if @creatives.present? %>
      <ul class="jcarousel-skin-tango" id="creative_slide">
        <% for bid in @creatives %>
          <li>
            <div class="slide_contpreview">
              <div class="slide_contpreview_ima">
                <%= image_tag(bid.images.first.image.url(:original),:width => '200px;',:height => '150px;') %>
              </div>
              <div class="slide_contpreview_text">
                <table>
                  <tr>
                    <td colspan="2">CR:&nbsp;<%= bid.project.user.name%></td>
                    <% if bid.project.topic > bid.project.topic.slice(0..20) %>
                      <td><%= bid.project.topic.slice(0..20) %>..</td>
                    <% else %>
                      <td><%= bid.project.topic.slice(0..20) %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <%= image_tag(("/images/star.png"), :border => 'none', :height => '12px;', :width => '12px;')%>
                      <%= bid.ratings.present? ? (bid.average_rating.round(2)) : (bid.average_rating) %>
                    </td>
                    <td width="100px;"><%= bid.project.categories %></td>
                  </tr>
                  <tr>
                    <td>
                      <%= image_tag('/images/views.png') %>
                      <%= bid.bid_count %>
                    </td>
                    <td>
                      <%= image_tag('/images/coment.png') %>
                      <%= bid.comments.count %>
                    </td>
                    <td>
                      <%= image_tag('/images/like.png') %>
                      <%= bid.project_likes.count %>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <%= image_tag("/images/slidecreativo.png")%>
    <% end %>
  </div>
</div>
<script>
  jQuery(document).ready(function() {
    jQuery('#creative_slide').jcarousel({scroll: 1});
  });
</script>