<script type="text/javascript" src="/javascripts/jcarousel/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/javascripts/jcarousel/jquery.jcarousel.min.js"></script>
<div class="slide_content">
  <% if @projects.present? %>
    <ul class="jcarousel-skin-tango thin" id="client_slide">
      <% for project in @projects %>
        <li>
          <div class="slide_contpreview">
            <div class="slide_contpreview_ima">
              <%= image_tag(project.images.first.image.url(:original), :style => 'width: 200px; height :150px;') %>
              <div class="slide_contpreview_text">
                <table>
                  <tbody>
                    <tr>
                      <td colspan="2">CR:&nbsp;<%= project.user.name%></td>
                      <td><%= project.topic%></td>
                    </tr>
                    <tr>
                      <td colspan="2">No Propouse:&nbsp;<%=project.bids.count %></td>
                    </tr>
                    <tr>
                      <td colspan="2">Vence:&nbsp;<%=project.created_at.strftime('%d/%m/%Y')%></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <span style="color: red;float: left;font-size: 20px;left: 170px;position: relative;top: 70px;">No Proyectos</span>
  <% end %>
</div>
<script>
  jQuery(document).ready(function() {
    jQuery('.thin').jcarousel({scroll: 1});
  });
</script>